<h1>Gophper: A Gopher Proxy for Modern Times</h1>

<h2>About Gophper</h2>
<p>
  Gophper has a bunch of cool features:
  <ul>
    <li>
      The backend is written in PHP using the
      <a href="http://www.slimframework.com/">
        Slim framework</a>
      . It is very simple and easy to modify.
    </li>
    <li>
      The bulk of the work is done in Javascript, so you can
      very easily re-implement with a different backend if
      desired.
    </li>
    <li>
      It caches gopher pages for fast performance.
    </li>
    <li>
      It detects when a user has requested a binary file
      (Image, Document, etc) and returns that file to the browser,
      rather than returning junk and crashing your browser like
      most gopher proxies.
    </li>
    <li style="text-decoration: line-through;">
      Report traffic to GA, and also track stats locally to present
      reports to users.
    </li>
  </ul>
</p>
